* {
  box-sizing: border-box;
}

.container {
margin-top:90px;
margin-left: auto;
margin-right: auto;
width: 900px;
}

.container {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

main {
  padding-top: 20px;
}

header {
  margin-left: auto;
  margin-right: auto;
  border-bottom: 2px solid #0caffc;
}

h1 {
  color: #0caffc;
  padding-bottom: 10px;
  border-bottom: 2px solid #0caffc;
}

.question-of-total {
  float: right;
}

button, input[type="text"] {
  padding: 5px;
}

button {
  background: #098cc9;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 2px solid #0a9de2;
}

button:hover {
  cursor: pointer;
  background: #076997;
  border: 2px solid #076997;
}

label {
<<<<<<< HEAD
  margin-left: 10px;
=======
  padding-left: 10px;
>>>>>>> master
}

#answers {
  width: 250px;
}

#answer-feedback {
  padding-bottom: 20px;
}

li {
  display: block;
  text-indent: -20px;
}

.score {
  font-size: 16px;
  font-weight: bold;
}